openapi: 3.2.0
info:
  title: Ironclad Public Search API
  description: Documentation for Ironclad's REST API.
  contact:
    name: Ironclad Support
    email: support@ironcladapp.com
  version: '1'
servers:
- url: https://na1.ironcladapp.com/public/api/v1
  description: Production server
- url: https://eu1.ironcladapp.com/public/api/v1
  description: EU Production server
- url: https://demo.ironcladapp.com/public/api/v1
  description: Demo server
tags:
- name: Search
  description: Documentation on Ironclad Search.
paths:
  /search/conversational:
    post:
      summary: Run Conversational Search
      description: 'Ask a natural language question and get an AI-generated response grounded in your contracts and records.


        **OAuth Scopes required:** `public.search.conversational`, `public.records.readRecords`, `public.workflows.readWorkflows`'
      operationId: run-conversational-search
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                  description: The natural language question to ask
                  example: Which contracts are expiring in the next 30 days?
                modelTier:
                  type: string
                  enum:
                  - ultrafast
                  - fast
                  - standard
                  - powerful
                  description: Controls the model used. Defaults to 'fast'. Use 'ultrafast' for the lightest/quickest model, 'standard' or 'powerful' for more capable models on complex queries.
                  example: fast
                userTimezone:
                  type: string
                  description: The user's IANA timezone (e.g. "America/New_York", "Asia/Kolkata"). Used to correctly interpret relative time expressions like "last month" or "this week". If not provided, falls back to the timezone in the user's company profile, then UTC.
                  example: America/New_York
      security:
      - sec0: []
        OAuth2:
        - public.search.conversational
        - public.records.readRecords
        - public.workflows.readWorkflows
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                required:
                - result
                - records
                properties:
                  result:
                    type: string
                    description: The agent's prose response
                  records:
                    type: object
                    description: Map of record ID to record details for all records surfaced by the agent
                    additionalProperties:
                      $ref: '#/components/schemas/ConversationalSearchRecord'
        '400':
          $ref: '#/components/responses/BadRequestError400'
        '401':
          $ref: '#/components/responses/UnauthorizedError401'
        '403':
          $ref: '#/components/responses/ForbiddenError403'
      tags:
      - Search
components:
  responses:
    UnauthorizedError401:
      description: '401'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                - UNAUTHORIZED
                example: UNAUTHORIZED
              message:
                type: string
                example: invalid authentication token
          examples:
            invalidToken:
              value:
                code: UNAUTHORIZED
                message: invalid authentication token
            revokedToken:
              value:
                code: UNAUTHORIZED
                message: token has been revoked
            expiredToken:
              value:
                code: UNAUTHORIZED
                message: token has expired
    ForbiddenError403:
      description: '403'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: FORBIDDEN
              message:
                type: string
                example: access forbidden
    BadRequestError400:
      description: '400'
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                example: MISSING_PARAM
              message:
                type: string
                example: reason why something has gone wrong
              param:
                type: string
                example: parameter identifier
  schemas:
    ConversationalSearchRecord:
      title: Conversational Search Record
      type: object
      required:
      - url
      properties:
        url:
          type: string
          nullable: true
          description: Dashboard URL for this record, or null if unavailable
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://na1.ironcladapp.com/oauth/authorize
          tokenUrl: https://na1.ironcladapp.com/oauth/token
          scopes:
            public.records.createRecords: Create Records
            public.records.readRecords: Read Records
            public.records.updateRecords: Update Records
            public.records.deleteRecords: Delete Records
            public.records.readSchemas: Read Record Schemas
            public.records.createAttachments: Create Record Attachments
            public.records.readAttachments: Read Record Attachments
            public.records.deleteAttachments: Delete Record Attachments
            public.records.createSmartImportRecords: Create Records via Smart Import
            public.records.readSmartImportRecords: Read Record Import Details from Smart Import
            public.records.applyContractAction: Apply Contract Actions
            public.webhooks.createWebhooks: Create Webhooks
            public.webhooks.readWebhooks: Read Webhooks
            public.webhooks.updateWebhooks: Update Webhooks
            public.webhooks.deleteWebhooks: Delete Webhooks
            public.workflows.createWorkflows: Create Workflows
            public.workflows.readWorkflows: Read Workflows
            public.workflows.updateWorkflows: Update Workflows
            public.workflows.readApprovals: Read Workflow Approvals
            public.workflows.updateApprovals: Update Workflow Approvals
            public.workflows.readSignatures: Read Workflow Signatures
            public.workflows.uploadSignedDocuments: Upload Signed Workflow Documents
            public.workflows.readParticipants: Read Workflow Participants
            public.workflows.readRoleAssignees: Read Workflow Role Eligible Assignees
            public.workflows.updateRoleAssignment: Update Workflow Role Assignment
            public.workflows.revertToReview: Revert Workflows to Review
            public.workflows.cancel: Cancel Workflows
            public.workflows.pauseAndResume: Resume and Pause Workflows
            public.workflows.createComments: Create Workflow Comments
            public.workflows.readComments: Read Workflow Comments
            public.workflows.createDocuments: Create Workflow Documents
            public.workflows.readDocuments: Read Workflow Documents
            public.workflows.updateSignaturePacket: Update Signature Packet
            public.workflows.readSchemas: Read Workflow Schemas
            public.workflows.readTurnHistory: Read Workflow Turn History
            public.workflows.readEmailCommunications: Read Workflow Email Communications
            public.workflows.readSignStatus: Read Sign Status
            public.records.createComments: Create Workflow Comments
            public.export.createReports: Create Reports
            public.export.readReports: Read Reports
            public.workflows.createSignatureRecipientUrls: Create Signature Request Recipient URLs
            public.workflows.createEmbeddableSignerUrls: Create Embeddable Signature Request Recipient URLs
            public.workflows.sendSignatureRequests: Send Signature Requests
            public.workflows.cancelSignatureRequests: Cancel Signature Requests
            public.workflows.deleteSigners: Delete Signers
            public.workflows.remindSigners: Remind Signers
            public.workflows.updateSigners: Update Signers
            public.entities.readRelationshipTypes: Read Relationship Types
            public.entities.updateEntities: Update Entities
            public.entities.deleteEntities: Delete Entities
            public.entities.createEntities: Create Entities
            public.entities.readEntities: Read Entities
            public.obligations.readObligations: Read Obligations
            public.obligations.createObligations: Create Obligations
            public.obligations.updateObligations: Update Obligations
            public.obligations.deleteObligations: Delete Obligations
            public.workflows.scheduleSendSignatureRequest: Schedule Send Signature Request
            public.workflows.updateScheduledSignatureRequest: Update Scheduled Signature Request
            public.workflows.deleteScheduledSignatureRequest: Delete Scheduled Signature Request
            public.search.conversational: Run Conversational agent Search
        clientCredentials:
          tokenUrl: https://na1.ironcladapp.com/oauth/token
          scopes:
            public.records.createRecords: Create Records
            public.records.readRecords: Read Records
            public.records.updateRecords: Update Records
            public.records.deleteRecords: Delete Records
            public.records.readSchemas: Read Record Schemas
            public.records.createAttachments: Create Record Attachments
            public.records.readAttachments: Read Record Attachments
            public.records.deleteAttachments: Delete Record Attachments
            public.records.createSmartImportRecords: Create Records via Smart Import
            public.records.readSmartImportRecords: Read Record Import Details from Smart Import
            public.records.applyContractAction: Apply Contract Actions
            public.webhooks.createWebhooks: Create Webhooks
            public.webhooks.readWebhooks: Read Webhooks
            public.webhooks.updateWebhooks: Update Webhooks
            public.webhooks.deleteWebhooks: Delete Webhooks
            public.workflows.createWorkflows: Create Workflows
            public.workflows.readWorkflows: Read Workflows
            public.workflows.updateWorkflows: Update Workflows
            public.workflows.readApprovals: Read Workflow Approvals
            public.workflows.updateApprovals: Update Workflow Approvals
            public.workflows.readSignatures: Read Workflow Signatures
            public.workflows.uploadSignedDocuments: Upload Signed Workflow Documents
            public.workflows.readParticipants: Read Workflow Participants
            public.workflows.readRoleAssignees: Read Workflow Role Eligible Assignees
            public.workflows.updateRoleAssignment: Update Workflow Role Assignment
            public.workflows.revertToReview: Revert Workflows to Review
            public.workflows.cancel: Cancel Workflows
            public.workflows.pauseAndResume: Resume and Pause Workflows
            public.workflows.createComments: Create Workflow Comments
            public.workflows.readComments: Read Workflow Comments
            public.workflows.createDocuments: Create Workflow Documents
            public.workflows.readDocuments: Read Workflow Documents
            public.workflows.updateSignaturePacket: Update Signature Packet
            public.workflows.readSchemas: Read Workflow Schemas
            public.workflows.readTurnHistory: Read Workflow Turn History
            public.workflows.readEmailCommunications: Read Workflow Email Communications
            public.records.createComments: Create Workflow Comments
            public.export.createReports: Create Reports
            public.export.readReports: Read Reports
            public.workflows.createSignatureRecipientUrls: Create Signature Request Recipient URLs
            public.workflows.createEmbeddableSignerUrls: Create Embeddable Signature Request Recipient URLs
            public.workflows.sendSignatureRequests: Send Signature Requests
            public.workflows.cancelSignatureRequests: Cancel Signature Requests
            public.workflows.deleteSigners: Delete Signers
            public.workflows.remindSigners: Remind Signers
            public.workflows.updateSigners: Update Signers
            public.entities.readRelationshipTypes: Read Relationship Types
            public.entities.updateEntities: Update Entities
            public.entities.deleteEntities: Delete Entities
            public.entities.createEntities: Create Entities
            public.entities.readEntities: Read Entities
            public.obligations.readObligations: Read Obligations
            public.obligations.createObligations: Create Obligations
            public.obligations.updateObligations: Update Obligations
            public.obligations.deleteObligations: Delete Obligations
            public.workflows.scheduleSendSignatureRequest: Schedule Send Signature Request
            public.workflows.updateScheduledSignatureRequest: Update Scheduled Signature Request
            public.workflows.deleteScheduledSignatureRequest: Delete Scheduled Signature Request
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
  samples-languages:
  - curl
  - node
  - ruby
  - javascript
  - python
